@use '../../assets/styles/mixins.scss' as *;

nav.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--c-neutral-700);
  z-index: 999;

  .container {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1110px, 90%);
    padding: 0.75rem 0;
  }

  ul {
    display: flex;
    align-items: center;
    
    li {
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: 0 1rem;
      border-right: 1px solid #5c5c5c;

      &:first-child {
        padding-left: 0;
      }

      &.nav-active a {
        color: var(--c-blue-400);
      }
    }

    a {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: var(--fs-200);
      font-weight: 300;
      text-decoration: none;
      transition: all 0.3s ease;
    }
  }
  
  button:not(.nav-toggler) {
    display: flex;
    padding: 0.375rem 0.75rem;
    background-color: #282828;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 300;
    border: none;
    border-radius: 5px;

    cursor: pointer;

    > svg {
      margin-right: 0.5rem;
      width: 1.25rem;
      height: auto;
      fill: #fff;
    }
  }

  button.nav-toggler {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 36px;
    height: 36px;
    padding: 5px 0;
    background-color: var(--c-neutral-800);
    border: none;
    border-radius: 5px;
    z-index: 9999;
    
    span {
      position: absolute;
      translate: 0 -50%;
      rotate: 0deg;
      width: 70%;
      height: 3px;
      background-color: var(--c-neutral-200);
      border-radius: 50vh;
      transition: all 0.3s ease;

      &:nth-of-type(1) {
        top: 30%;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-of-type(3) {
        top: 70%;
      }
    }

    &.toggled span {
      &:nth-of-type(1) {
        top: 50%;
        rotate: 45deg;
      }

      &:nth-of-type(2) {
        translate: -50% -50%;
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 50%;
        rotate: -45deg;
      }
    }
  }

  @include breakpoint('mobile', 'lg') {
    button.nav-toggler {
      display: flex;
    }
    ul {
      // display: none;
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 2rem;
      top: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--c-neutral-700);
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;

      &.toggled {
        opacity: 1;
        visibility: visible;
      }
      
      li {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        width: 165px;
        border-right: none;
        border-bottom: 1px solid #5c5c5c;
        
      }
    }
  }
}